
body {
    padding: 10px;
}


.form-create {
    text-align: center;
    width: 400px;
    margin: auto;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination li {
    padding: 20px;
    color: black;
}

.custom-page {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ccc;
    margin: 2px;
    cursor: pointer;
}

.custom-page.active {
    background-color: cyan;
}

.dropdown-menu {
    max-height: 500px;
    overflow-y: auto;
}

table {
    box-shadow: 0 10px 50px rgb(35, 156, 218);
}



